## Импортируем необходимые бибилиотеки

In [1]:
import pandas as pd
import numpy as np

## Объявим тестовые данные

In [76]:
sample_data = pd.DataFrame({"menu_position": [i for i in range(1, 5)] * 2,
                            "menu_price": [300,300,330,370,100,300,400,500], 
                            "bar": ["Cohortoshnaya" for i in range(4)] + ["Voronoshnaya" for i in range(4)]})

In [77]:
sample_data

   menu_position  menu_price            bar
0              1         300  Cohortoshnaya
1              2         300  Cohortoshnaya
2              3         330  Cohortoshnaya
3              4         370  Cohortoshnaya
4              1         100   Voronoshnaya
5              2         300   Voronoshnaya
6              3         400   Voronoshnaya
7              4         500   Voronoshnaya

## Посчитаем описательные статистики для каждого бара

In [78]:
sample_data.groupby(by="bar", as_index=False).menu_price.agg({".n": "count", # количество уникальных позиций в меню
                                                              ".mu": "mean", # мат. ожидание
                                                              ".var": "var", # дисперсия
                                                              ".sd": "std"}) # стандартное отклонение

             bar  .n  .mu          .var         .sd
0  Cohortoshnaya   4  325   1100.000000   33.166248
1   Voronoshnaya   4  325  29166.666667  170.782513

## Далее посчитаем коэффициент вариации для каждого бара

Коэф. вариации позволяет оценить вариативность в процентах

Принято считать, что метрика с вариацией > 30% считается сильно шумной 

30% - это скорее условность, но тем не менее, видно, что Вороношная имеет вариацию больше

In [79]:
for key, group in sample_data.groupby('bar', as_index=False):
    print(key, 
          np.std(group.menu_price, ddof=1) / np.mean(group.menu_price) * 100)

Cohortoshnaya 10.204999354939693
Voronoshnaya 52.54846546645948